doctype html
html
  head
    title Xetting
    link(rel='stylesheet', type='text/css', href='css/detail.css')
    script(defer src='js/jszip.min.js')
    script(defer src='js/FileSaver.min.js')
    script(defer src='js/download.js')
  body
    .navbar Xetting
    .content
      .sidebar
      .detail
        .description
          .description-image
          img(referrerpolicy="no-referrer" src=thumbnails[0], width='240px')
          .description-text
            .text-title Title:#{title}
            .text-artist Artists:
              - var a=artists;
              each artist in a
                .artist #{artist},
            .text-tag Tags:
              - var t=tags;
              each tag in t
                .tag #{tag},
            .text-url Origin URL: #{originUrl}
            .download(id="download") Download me
        .images
          - var i=thumbnails;
          each thumbnail in i
           .image
              img(referrerpolicy="no-referrer" src=thumbnail, width='240px')
      .sidebar
