doctype html
html
  head
    link(rel='stylesheet', type='text/css', href='css/detail.css')
  body
    .navbar Xetting
    .content
      .sidebar
      .detail
        - var r=result;
        .description
          .description-image
          img(src='aaa', width='240px')
          .description-text
            .text-title=r.title
            .text-artist a
            .text-time None 
            .text-tag Tag A,B,c
        .images
          - var fuck=;
          - var column=1;
          while column<10
            .images-row
              - var row=fuck;
              while row < 5
                - var componentUrl;
                - var componentTitle=column+row;
                img(src='aaa', width='240px')
                - row=row+1
            - column=column+1
      .sidebar
