doctype html
html
  head
    link(rel='stylesheet', type='text/css', href='css/result-component.css')
    link(rel='stylesheet', type='text/css', href='css/result.css')
  body
    .navbar Xetting
    .content
      .sidebar
      .result
        .advanced
          form(action="result", method="get")
            input(type="text" name="query") 
            button(type="submit") Go
        - var r=result;
        - var row=5;
        - var rowCount=1;
          each rowArray in r
            .result-row
              each value,index in rowArray
                - var componentSource=value.source;
                - var componentBooknumber=value.booknumber;
                - var componentUrl=value.thumbnail;
                - var componentTitle=value.title;
                include result-component.pug
      .sidebar