doctype html
html
  head
    link(rel='stylesheet', type='text/css', href='css/result-component.css')
    link(rel='stylesheet', type='text/css', href='css/result.css')
  body
    .navbar Xetting
    .content
      .advanced
        div  Advanced search
          form(action="result", method="get")
            div bookname
              input(type='text' name='query')
            div source
              input(type='text' name='source')
            div page
              input(type='text' name='page')
            button(type="submit") Go
      .result
        - var fuck=!{result};
        - var column=1;
        while column<4
          .result-row
            - var row=fuck;
            while row < 5
              - var componentUrl;
              - var componentTitle=column+row;
              include result-component.pug
              - row=row+1
          - column=column+1